section.about
  .row
    .about__img-wrap
      img.about__img(src="images/certificat.png")

    .about-content__wrap
      .about-content
        h2.about__title О нас
        p.about__text.about__text--bold.
          Национальное Автобюро было создано с целью
          представления покупателю полной и достоверной
          информации об истории автомобиля и его владельце.
        p.about__text.about__text--small.
          Мы собираем достоверную кредитную информацию,
          что позволяет на сегодняшний день обладать полной
          базой кредитных автомобилей. Кроме того, мы предоставляем
          актуальную информацию о комплектации автомобиля.
          Посмотреть пример <a>сертификата проверки автомобиля.</a>

      .certificate
        .certificate__img-wrap
          img.certificate__img(src='images/strahov_sertifikat_2.png')
        .certificate-content
          h3.certificate-content__title Результаты наших проверок застрахованы
          ul.certificate-content__list
            li.certificate-content__item.
              Дополнительная профессиональная ответственность
              застрахована в страховой Уралсиб
            li.certificate-content__item.
              При проверке авто риски застрахованы и если с машиной
              что-то не так, страховая вернет деньги
            li.certificate-content__item.
              Для уверенности что стоимость будет возвращена мы
              увеличили уставной капитал
            li.certificate-content__item.
              Гарантия возмещает стоимость авто если данные проверки не верны*
            li.certificate-content__note.
              *при заключении дополнительного соглашения
