section.checks(style='background-color: #cccccc')
  .row
    h2.checks__title Что мы проверяем
    .checks__slider
      .checks__slide
        .checks__item
          .icon-ic_bank
          p.checks__text Залог (кредит)
        .checks__item
          .icon-ic_document
          p.checks__text Наличие задолжности
        .checks__item
          .icon-ic_car_destruction
          p.checks__text Утилизация
        .checks__item
          .icon-ic_car_search
          p.checks__text Розыск
        .checks__item
          .icon-ic_folder
          p.checks__text История владения
        .checks__item
          .icon-ic_thief
          p.checks__text Угон
        .checks__item
          .icon-ic_passport
          p.checks__text Действительность паспорта
        .checks__item
          .icon-ic_fine
          p.checks__text Штрафы
        .checks__item
          .icon-ic_taxi
          p.checks__text Использование в такси

