section.clients
  .row
    h2.clients__title Нашим сервисом пользуются

    .clients-slider
      .clients-slider__item
        img.clients-slider__img(src="")
        img.clients-slider__img(src="")
        img.clients-slider__img(src="")
        img.clients-slider__img(src="")
        img.clients-slider__img(src="")
        img.clients-slider__img(src="")
        img.clients-slider__img(src="")
      .clients-slider__item
      .clients-slider__item