section.clients
  .row
    h2.clients__title Нашим сервисом пользуются

    .clients-slider
      .clients-slider__item
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_1.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_2.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_3.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_4.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_5.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_6.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_7.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_8.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_9.png")
      .clients-slider__item
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_1.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_2.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_3.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_4.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_5.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_6.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_7.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_8.png")
        .clients-slider__img-wrap
          a(href="#")
            img.clients-slider__img(src="images/client_9.png")

  .press.row
    h3.press__title О нас пишут
    ul.press__list
     li.press__item
       a.press__link
         img.press__img(src="images/press_1.png")
     li.press__item
       a.press__link
         img.press__img(src="images/press_2.png")
     li.press__item
       a.press__link
         img.press__img(src="images/press_3.png")
