nav.menu
  button.btn.btn__menu
  ul.menu__list
    li.menu__item
      a.menu__link(href='#') Проверить авто
    li.menu__item
      a.menu__link(href='#') Услуги
    li.menu__item
      a.menu__link(href='#') Гарантии
    li.menu__item
      a.menu__link(href='#') Стать партнером
    li.menu__item
      a.menu__link(href='#') FAQ
    li.menu__item
      a.menu__link(href='#') Новости
    li.menu__item
      a.menu__link(href='#') Контакты
    li.menu__item
      a.menu__link.btn(href='#') Заказать звонок
    li.menu__item
      a.menu__link(href='tel: 84952560455') 8 495 256-04-55
      a.menu__link(href='tel: 88007754260') 8 800 775-42-60
    li.menu__item
      a.menu__link(href='mailto: support@nbpai.ru') support@nbpai.ru