section.promo
  .row
    h1.promo__title Хотите проверить автомобиль? Мы поможем!
    p.promo__text.
      На нашем сервисе Вы можете проверить автомобиль на то, находилось ли авто в ДТП,
      числится ли в угоне или розыске, используется ли автомобиль в аренде или такси и т.д.
    button.btn.btn__promo Проверить автомобиль
