include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Главная')
    include pug/styles.pug
  body
    include pug/svg.pug
    include pug/includes/header
    include pug/includes/promo
    include pug/includes/about




    include pug/scripts.pug
